<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.helloworld" version="1.0.0">
  <name>TIM App</name>
  <description>TIM Website project</description>
  <author href="http://phonegap.com" email="calabr93@yahoo.it">Calabretta Catania</author>
  <preference name="loadUrlTimeoutValue" value="700000" />
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
  <plugin name="cordova-plugin-console" source="npm" spec="~1.0.2"/>
  <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1"/>
  <plugin name="cordova-plugin-device-motion" source="npm" spec="~1.2.0"/>
  <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2"/>
  <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0"/>
  <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1"/>
  <plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.5.0"/>
  <plugin name="cordova-plugin-globalization" source="npm" spec="~1.0.3"/>
  <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0"/>
  <plugin name="cordova-plugin-media" source="npm" spec="~2.2.0"/>
  <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0"/>
  <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.2"/>
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>
  <icon src="www/assets/img/logo.jpg"/>
  <platform name="android">
    <icon src="www/assets/img/logo.jpg" density="ldpi"/>
    <icon src="www/assets/img/logo.jpg" density="mdpi"/>
    <icon src="www/assets/img/logo.jpg" density="hdpi"/>
    <icon src="www/assets/img/logo.jpg" density="xhdpi"/>
    <icon src="www/assets/img/logo.jpg" density="xxhdpi"/>
    <icon src="www/assets/img/logo.jpg" density="xxxhdpi"/>
  </platform>
  <platform name="wp8">
    <icon src="www/assets/img/logo.jpg" platform="wp8" width="99" height="99"/>
    <icon src="www/assets/img/logo.jpg" platform="wp8" width="159" height="159"/>
  </platform>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>