body {
	background-image:url("../img/sfondo.png");
	background-size: 1300px 1000px;
	background-repeat: no-repeat;
}
.single-product{
	padding-bottom: 1%;
}

.product-image{
  max-height: 65%;
  width:auto;
  margin:auto;
  
}

.thumbox{
	background-color: #ffffff;
	border: 1.5px solid #3c4e52;
	padding: 4%;
	padding-top: 6%;
	padding-bottom: 0%;
	margin-bottom:6%;
	border-radius: 10px;
}

.product-price{
	text-align: center;
	color:#333;
}

.product-name{
text-align: center;
}

.dettagli-button{
  text-align: center;
}

@media (min-width: 1200px){
	.thumbox{
		height: 380px;	
	}
}


@media (min-width: 992px) and (max-width: 1199px){
	.thumbox{
		height: 360px;	
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.thumbox{
		height: 365px;	
	}
}

@media(max-width:767px){
	
	.thumbox{
		margin-left: 10%;
		margin-right: 10%;
	}
	
	.single-product{
  		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: -1%;
	}

}