body {
	background-color: #126fca;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	overflow-y: scroll;
	overflow-x: hidden;
}


.red_hr{
    border-top: 2px solid #dc0026
}

.white_hr{
    border-top: 1.5px solid #ffffff;
    margin-top: -20px;
}

.page_contents{
	margin-top: 100px;
}

header {
	margin-bottom:30px;
}

img#Brand{
    height: 40px;
    margin-left: 5%;
    margin-top: 4px;
}

.navbar_sito_tim{
	background-image: url("../img/barra.jpg");
	background-size: cover;
	width: 100%;
	height: 85px;
}

.menu_sito_tim{
    margin-top: 15px;
    margin-left: 40px;
}

.button_sito_tim{
	margin-top: 17.5px;
}

/* style del testo della navigation bar */
.navbar_sito_tim .menu_sito_tim > li > a {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #515151;
  border-bottom: 1px solid #357ebd;
}

 /* border style del bottone in alto a dx su schermate piccole */
.navbar-default .button_sito_tim {
 border: 1px solid #357ebd;
}

.navbar-default .button_sito_tim .icon-bar {
  background-color: #357ebd;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
}

@media (min-width: 768px) {
	 .navbar_sito_tim .menu_sito_tim > li > a {
	  border-bottom: none;
	}
	
	.navbar_sito_tim .menu_sito_tim > li > a:hover,
	.navbar_sito_tim .menu_sito_tim > li > a:focus {
	  border-top: 2px solid #357ebd;
	  padding-top: 13px;
	}
}

@media (max-width: 767px) {
	
	.navbar_sito_tim .navbar-collapse{
		margin-top: 13px;
		padding-bottom: 15px;
		margin-left: -35px;
		padding-right: 40px;
		background-color: rgba(224, 231, 240, 0.95);
	}
}

/* barra laterale */
.well_tim{
	background-color: #4a9ce3;
	border: 1.5px solid #3c4e52;
}

.well_tim .nav-pills >li.active>a{
	color: #141414;
	background-color: #98c3f4;	
}

.well_tim .nav-stacked>li>a#no_active:hover{
	border: 1px solid #d5e8ff;
	background-color:transparent;
}

.well_tim .nav-stacked>li>a{
	color: #f2eded;
}


@media (min-width: 992px) {
	.well_tim{
		width: 210px;
		position:fixed;
	}
}

