.tim-header{
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

.intestazione{
	background-color: #4a9ce3;
	color: #ffffff;
	border: 1.5px solid #3c4e52;
}

.thumbox{
	background-color: #ffffff;
	border: 1.5px solid #3c4e52;
	padding: 4%;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 6%;
	padding-bottom: 0%;
	margin-bottom:6%;
	border-radius: 10px;
}

.single-product{
	padding-bottom: 1%;
}

.product-price{
	text-align: center;
	color:#333;
}

.product-name{
text-align: center;
}

.dettagli-button{
  text-align: center;
}

.product-image{
  max-height: 65%;
  width:auto;
  margin:auto;
  
}

@media (max-width: 767px) {
	
	.thumbox{
		margin-left: 0%;
		margin-right: 0%;
	}
	
	.single-product{
  		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: 1%;
	}
	
}