.anchor{
  display: block;
  position: relative;
  top:-105px;
  visibility: hidden;
}

@media (max-width: 992px) {
	.assistance_picture{
  		padding-left: 20%;
		padding-right: 20%;
		padding-top: 3%;
		padding-bottom: 2%; 
	}
}