.device-content{
  margin: auto;
}

.colore1{
	width:4%;
}

.colore2{
	width:4%;
}

.colore3{
	width:4%;
}

.colore4{
	width:4%;
}

#clickhere{
	color: #f0f0f0;	
}

.main-image-section{
  padding-right: 5%;
  padding-left: 5%;
  
}

.little-product-image-section{
 	margin-top: 10px; 
}

.main-img{
  	margin-left: auto;
  	margin-right: auto;
}

.little-img{
  	margin-left: auto;
  	margin-right: auto;
	cursor:pointer;
}

@media (min-width: 1200px){
	.smartlife-container{
		height: 225px;	
	}
}


@media (min-width: 992px) and (max-width: 1199px){
	.smartlife-container{
		height: 196px;	
	}
}


@media (min-width: 768px) and (max-width: 991px){
	.smartlife-container{
		height: 202px;	
	}
}

@media (max-width: 767px){
	.little-img{
		display:none;
	}
  
  .smartlife-container{
	margin-left: 10%;
	margin-right: 10%;
    height: auto;
  }
  
  .product-name{
    display: none;
  }	
}

.product-name{
text-align: center;
}


.smartlife-container{
  margin-top: 20px;
}