#submenu{
 margin-left: 30px; 
}

.single-product{
  	padding-bottom: 2%;
	padding-left: 10px;
	padding-right: 10px;
}

.thumbox{
	background-color: #ffffff;
	border: 1.5px solid #3c4e52;
	padding: 4%;
	padding-top: 6%;
	border-radius: 10px;
}

.product-name{
	text-align: center;
}

.anchor{
  display: block;
  position: relative;
  top:-105px;
  visibility: hidden;
}

#question{
	font-weight:bold;
}

#answer{
	margin-top: 16px;
}

.faq-box{
	margin-left:-6%;
	background-color: #4a9ce3;
	color: #ffffff;
	border: 1.5px solid #3c4e52;
}

@media (min-width: 1200px){
	.thumbox{
		height: 290px;	
	}
}


@media (min-width: 992px) and (max-width: 1199px){
	.thumbox{
		height: 255px;	
	}
}


@media (min-width: 768px) and (max-width: 991px){
	.thumbox{
		height: 310px;	
	}
}


@media (max-width: 767px){
	.faq-box{
		margin-left:-40px;
	}
	
	.thumbox{
		margin-left: 30%;
		margin-right: 30%;
		margin-bottom: 2%;
		padding: 3%;
		padding-top: 4%;
		border-radius: 10px;
		padding-bottom: 2%;
	}
	
}