.single-product{
  padding: 1.5px;
}

#pic_preview{

  max-height: 65%;
  margin:auto;
}

.thumbnail{
		height:400px;
		padding: 0%;
		padding-top: 10%;
		padding-bottom: 15%;
				border-radius: 30px;
	}

.product-price{
text-align: center;
}

.product-name{
text-align: center;
}

.dettagli-button{
  text-align: center;
}

@media(max-width:767px){
	#pic_preview{
  	max-height:90%;
  	margin:auto;
	}
	
	.thumbnail{
		margin-left: 15%;
		margin-right: 15%;
		margin-bottom:10%;
		padding-top:5%;
		padding-bottom:25%;
		border-radius: 30px;
	}

}